.Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    .CardsBlock{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 2%;
        * {
            margin: 2% auto;
        }
    }

    .OptionsBlock {
        display: flex;
        flex-direction: column;
        padding: 2%;
        box-sizing: border-box;
        width: 100%;
        .Buttons {
            flex-direction: row;
            box-sizing: border-box;
            padding: 2% 2%;

            * {
                margin: 0% 2%;
            }
        }
    }

}